		body{
			width: 100vw;
			display: flex;
			flex-wrap: wrap; 
			justify-content: space-around;
			margin: 0;
			padding-top: 70px; 
			overflow-x: hidden; 
			background-color: #fffffe;
		}
		#titleContainer{
			position: relative;
			display: flex;
			align-items: center;
			width: 50%;
			height: 35%;
			top: 15%;
			left: 10%;
			font-size: 350%;
			font-weight: 700;
			color: white;
			font-family: 'Quicksand', sans-serif;
		}
		#underlineBlue{
			width: 45%;
			height: 3px;
			position: absolute;
			bottom: 0;
			background-color: lightblue;
		}
		#topWrapper{
			width: 100%;
			height: 55vh;
			display: flex;
		}
		#topLeft{
			width: 40%;
			height: 100%;
			background-color: black;
		}
		#topRight{
			width: 60%;
			background-color: #87EBE1;
		}
		#imageTop{
			width: 100%;
		}
		#main{
			width: 80%;
			display: flex;
			flex-wrap: wrap;
		}
		#main img{
			width: 100%;
		}
		.imgContainer{
			width: 40%;
			padding-top: 30px;
			display: flex;
			justify-content: center;
			margin-bottom: 100px; 
		}
		#mediaMobile{
			display: none;
		}
		#main p{
			font-family: 'Quicksand', sans-serif;
			font-size: 120%;
			width: 70%;
		}
		.textContainer{
			width: 60%;
			height: 65vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.textContainer a{
			color: blue;
		}
		.missionVision{
			width: 48%;
			height: auto;
		}
		.missionVision p{
			width: 30%;
			margin: auto;
		}
		#values{
			margin: 50px 0;
		}
		#values p{
			margin: auto;
		}
		#values span{
			font-family: 'Didact Gothic', sans-serif;
			font-weight: bold;
		}
		h1{
			width: 100%;
			font-size: 300%; 
			font-weight: bold; 
			font-family: Arial; 
			text-align: center;
		}
		h2{
			font-family: 'Didact Gothic', sans-serif;
			text-align: center;
		}
		#offices{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding-bottom: 50px; 
		}
		#offices img{
			width: 20%;
			margin: 5px;
		}
		@media only screen and (max-width: 815px){
					
			#topWrapper{
				width: 100%;
				height: initial;
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
			}
			#topLeft{
				width: 100%;
				height: 25vh;
				background-color: black;
			}
			#topRight{
				width: 100%;
				height: 25vh;
				background-color: #87EBE1;
			}
			#titleContainer{
				height: 60%;
				font-size: 250%;
			}

			/* Main section */

			#main{
				width: 100%; 
			}
			#main p{
				width: 85%;
			}
			.imgContainer{
				width: 100%;
				padding-top: 0;
				display: flex;
				justify-content: flex-start;
				margin-bottom: 0; 
			}
			.textContainer{
				width: 100%;
				height: initial;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			#mediaMobile{
				margin: 50px 0;
				display: block;
			}
			#media{
				display: none;
			}
			#tornado{
				margin: 50px 10px;
			}
			h1{
				font-size: 200%;
			}
			.missionVision{
				width: 100%;
			}
			#offices{
				padding-bottom: 0;
			}
			#offices img{
				width: 45%;
				margin: 5px;
			}
		}