		body{
			width: 100vw;
			display: flex;
			flex-wrap: wrap; 
			justify-content: space-around;
			margin: 0;
			padding-top: 70px; 
			overflow-x: hidden; 
			background-color: #fffffe;
		}
		#titleContainer{
			position: relative;
			display: flex;
			align-items: center;
			width: 50%;
			height: 55%;
			top: 15%;
			left: 10%;
			font-size: 350%;
			font-weight: 700;
			color: white;
			font-family: 'Quicksand', sans-serif;
		}
		#underlineBlue{
			width: 45%;
			height: 3px;
			position: absolute;
			bottom: 0;
			background-color: lightblue;
		}
		#topWrapper{
			width: 100%;
			height: 55vh;
			display: flex;
		}
		#topLeft{
			width: 40%;
			height: 100%;
			background-color: black;
		}
		#topRight{
			width: 60%;
		}
		#topRight img{
			height: 100%;
		}
		#imageTop{
			width: 100%;
		}

		/* Main section */

		#main{
			width: 100%;
			padding-top: 50px;
			display: flex;
			justify-content: space-around;
		}
		#text{
			width: 40%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		#list{
			width: 60%;
			display: flex;
			flex-wrap: wrap;
		}
		#row{
			width: 100%;
			height: 55px;
			display: flex;
			border-bottom: solid black 1px;
		}
		#text p{
			width: 75%;
			font-size: 110%;
			line-height: 150%; 
			font-family: 'Quicksand', sans-serif; 
		}
		#content{
			width: 100%;
			margin-top: 70px;
		}
		#content p{
			width: 85%;
			margin: auto;
			font-size: 110%;
			line-height: 150%;
			font-family: 'Quicksand', sans-serif;
		}
		span{
			color: #4da6ff;
			font-weight: bold;
			font-family: 'Didact Gothic', sans-serif;
		}
		.listItemLeft, .listItemRight{
			width: 50%;
			height: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			font-family: 'Quicksand', sans-serif;
		}
		@media only screen and (max-width: 815px){

			#topWrapper{
				width: 100%;
				height: initial;
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
			}
			#topLeft{
				width: 100%;
				height: 25vh;
				background-color: black;
			}
			#topRight{
				width: 100%;
				height: 25vh;
				background-color: #87EBE1;
			}
			#titleContainer{
				height: 70%;
				font-size: 250%;
			}
			#main{
				flex-wrap: wrap;
			}
			#text, #list{
				width: 90%;
			}
			#text p{
				width: 95%;
			}
		}